li{
    list-style-type: none;
}

body{
    background-color: rgb(0, 0, 0);
    margin: 0;
}

*{
    color: $mainGreen;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1{
    font-size: 30px;
}

h2{
    font-size: 24px;
}

